[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
python-dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
firebase-admin = "*"
slowapi = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"
psycopg2-binary = "*"
langcheck = "*"
tiktoken = "*"
langchain-openai = "*"
redis = "*"
hiredis = "*"
accelerate = "*"
vedastro = "*"
numpy = "<2"
torch = "*"
transformers = "*"
aiosqlite = "*"
pytest-asyncio = "*"
pytz = "*"

[dev-packages]
pytest-asyncio = "*"
pytest-mock = "*"
pytest = "*"
httpx = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.13"
